* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body{
  width: 100%;
}
header {
  height: 4.5rem;
  background-color: #2b343b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
@media (max-width:1080px){
  header{
    display: none ;

  }
  .contact   .num_180{
    display: none;
  } 
 
}
@media (min-width:720px){
  .hamburger_menu{
   top: 8rem !important;
   left: 0;
   width: 100% !important; 
   display: flex;
   align-items: center !important;
   height: 6rem;
   padding-left: 3rem;
   
  }
  .hamburger_menu ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around !important;
     
  }
  .nested_list{
    position:absolute ;
    width: 25rem !important;
  }

}

  @media (min-width:1080px){
  .hamburger_menu{
   top: 12rem !important;
   left: 0;
   width: 100% !important;
  height: 6rem;
   align-items: center;
   display: flex !important; 
  }
  .hamburger_menu ul{
    display: flex;
  }
  .nested_list{
    position:absolute ;
    
  }

}  

@media (max-width:720px){ 
  .contact  .tel  {
    display: none !important; 
  } 
   
  .hamburger_menu{
    display: none;
  }
.navbar {
  display: none;
}
.toggle_3{
  display: flex !important;
}
.contact{
  background-color:#42454876;
  height: 8rem !important;
}

}
  .toggle_3{
    display: none
  }
  @keyframes mymove {
    from {top: 0px;}
    to {top: 8rem;}
  }
 .hamburger_menu{
  
  background-color:#0071BB;
  width: 40%;
  z-index: 9;
  position: absolute;
  right: 8%;
 
  animation: mymove 1s forwards;


} 
.hamburger_menu ul{

  margin : 3rem 0;
}
/* .hamburger_menu .toggle_able{
  position: relative;
} */
.hamburger_menu ul a{
  color: #fff;
}
.hamburger_menu ul li {
  margin:1rem;
  color: #fff;
  
}
.hamburger_menu   .nested_list {
  display: none;
  padding: 0;
  margin: 0;
 
  background: linear-gradient(90deg, #016baf 0%, #034a78 100%);
  height: max-content !important;
  width: 100%;
  /* padding: 2rem 1rem; */
  z-index: 2;
}
header a {
  color: #fff;
  font-size: 1.7rem;
}
header .faq_1 {
  display: flex;
  gap: 2rem;
}
header .faq_2 {
  display: flex;
  gap: 3rem;
  align-items: center;
}
header .faq_2 span {
  padding-left: 10px;
}
.contact {
  height: 8rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
  align-items: center;
  
}
.contact .tel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact .tel i {
  margin: 1rem;
}

.contact button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #f32735 0%, #a7111c 100%);
  color: #fff;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 900;

  width: 11.5rem;
  height: 5rem;
  border: none;
  border-radius: 10px;
}

/* @media(min-width:1020px){
  .contact{
    height: 10rem;
  }
} */

/********************************************************/
.navbar {
  background: linear-gradient(90deg, #016baf 0%, #034a78 100%);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  padding-left: 8%;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.7rem;
  height: 6.2rem;
  color: #fff;
}
.navbar ul li{
  color: #fff;
}

.navbar .nested_list {
  display: none;
  position: absolute;
  background: linear-gradient(90deg, #016baf 0%, #034a78 100%);
  height: max-content !important;
  width: 15%;
  padding: 2rem 1rem;

  z-index: 2;
  top: 25.7rem;
} 
.hamburger_menu .show {
  display: flex !important;
  flex-direction: column;
  left: 15%;
  align-items: flex-start !important;
}

.navbar li  {
  cursor: pointer;
}

/**********************************************************************************/

@media(min-width:720px){
  .container_1{
    margin-top: 5rem;
  }
}
.container_1 {
  width: 100%;
}
.container_1 .swiper {
  width: 100%;
  height: 100%;
}

.container_1 .swiper-slide {
  height: 65vh !important;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_1 .swiper-wrapper .slide1 {
  background-image: url("/media/banner-1 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container_1 .swiper-wrapper .slide2 {
  background-image: url("/media/banner-2 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container_1 .swiper-wrapper .slide3 {
  background-image: url("/media/banner-3-bg 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container_1 .swiper-wrapper .slide4 {
  background-image: url("/media/banner-4 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container_1 .slide1,
.slide2,
.slide4 {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
}
.container_1 .slide1,
.slide2,
.slide4 .info {
  text-align: left;
  padding-left: 10%;
}
.slide3 > img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.container_1 h1 {
  color: #0071bb;
  font-size: 5rem;
}

.container_1 .slide1 .time {
  background-color: #f32735;
  color: #fff;
  width: 20rem;
  height: 6rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 700;
  line-height: 60px;
}
.container_1 .slide1,
.slide2,
.slide4 p {
  color: #2b343b;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.container_1 .slide2 .time {
  width: 250px;
  height: 67px;
  background-color: #f32735;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_1 .slide3 {
  display: flex;
  color: #fff;
}
.container_1 .slide3 h1 {
  color: #fff;
  font-size: 5rem;
  text-align: left;
}
.container_1 .slide3 p {
  font-size: 30px;
  text-align: left;
}
.container_1 .slide4 .time {
  width: 250px;
  height: 67px;
  background-color: #f32735;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_2 {
  padding-top: 6rem;
  text-align: center;
}
.container_2 h2 {
  font-size: 3.5rem;
  color: #2b343b;
  margin-bottom: 2rem;
}
 
  .container_2 .temir  h2:after {
    display: inline-block;
    margin: 0 0 5px 5px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color:#F32735;
    width: 35px;
}
.container_2 .temir  h2:before {
    display: inline-block;
    margin: 0 5px 5px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color:#F32735;
    width: 35px;
}
.container_2 .qurasdirilma  h2:after {
    display: inline-block;
    margin: 0 0 5px 5px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color:#F32735;
    width: 35px;
}
 
.container_2 .qurasdirilma h2:before {                 /*      Why inline block***********************************
  
  **--------------------------------------------------------------------------------------------kdfmsojbbbbbbbg--------------------------*/
  display: inline-block;
  margin: 0 5px 5px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color:#F32735;
  width: 35px;
}
.carousel-slider * {
  touch-action: manipulation;
}

.carousel-slider {
  position: relative;
  background: #fff;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
}

.carousel-slider > .carousel-content {
  position: relative;
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  -o-display: inline-flex;
  display: inline-flex;
  user-select: none;
}

.carousel-slider > .carousel-content > .slide-item {
  background: white;
  height: 15rem;
  padding: 4rem;
}

.carousel-slider .carousel-next-btn,
.carousel-slider .carousel-prev-btn {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 14px 8px 14px;
  outline: none;
  border: none;
  transition: all 0.25s ease-in-out;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  min-height: 40px;
  min-width: 40px;
}

.carousel-slider .carousel-next-btn:hover,
.carousel-slider .carousel-prev-btn:hover {
  background-color: black;
  cursor: pointer;
}

.carousel-slider .carousel-next-btn {
  position: absolute;
  right: 0;
}

.carousel-slider .carousel-prev-btn {
  position: absolute;
  left: 0;
}

.carousel-slider:hover .carousel-next-btn,
.carousel-slider:hover .carousel-prev-btn {
  opacity: 1;
}

/*-----------------------------------------------------------------*/
.container_2 .elements {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0 10%;
}

.container_2 .element {
  background-image: url(/media/Temir/Group.png);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 30rem;
  padding-top: 1rem;
  background-color: #90bedc69;
  display: block;
}
.container_2 .element img {
  display: block;
  margin: 0 auto;
}
.container_2 .element button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 5rem;
  border-radius: 5rem 5rem 0 0;
  position: absolute;
  border: none;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  background: linear-gradient(to right, #0071bb 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.container_2 .element button:hover {
  background-color: #0071bb;
  background-position: left bottom;

}
.container_2 .element button i {
  color: #0071bb;
}


.container_2 .element button:hover i {
  color: #fff;
}
.container_2 .elements .hidden {
  display: none;
}
.container_2 .element h3 {
  color: #2b343b;
  font-size: 20px;
  margin: 2rem 0;
}
.container_2 .swiper-slide {
  margin: auto;
}
.container_2 .showAll {
  width: 25rem;
  height: 4rem;
  border: 1px solid #0071bb;
  color:#2b343b ;
  margin: 5rem;
  border-radius: 8px;
  font-size: 1.6rem;
}
.container_2 .showAll:hover {
  background-color: #0071bb;
  color: #fff !important;
}
.container_2 .logos {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.service_menteqemiz {
  margin-top: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  background: linear-gradient(rgba(0, 81, 136, 0.85), rgba(0, 81, 136, 0.95)),
    url("./media/15.png");
     
  mix-blend-mode: multiply;
}

.service_menteqemiz iframe {
  width: 85%;
  height: 70vh;
  text-align: center;
  margin: auto;
}
.service_menteqemiz h1 {
  margin-top: 4rem;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////*/
.haqqinda {
  display: flex;
  height: 80vh;
  padding: 10%;
  background-image: url(/media/4907156\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1020px) {
  .haqqinda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 1rem;
  }
  .haqqinda img{
    width:75%;
    height:30%;
    margin: 10px;
    padding: 0;
  }

}
.haqqinda h1 {
  color: #2b343b;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 100% */
  margin: 1rem;
}
.haqqinda .info {
  margin: 4rem;
   ;
}
.haqqinda .info img {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  background-color: #e2f0fa;
  border-radius: 50%;
  padding: 1rem;
  margin: 2rem;
}
.haqqinda p {
  color: #565656;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.haqqinda h2 {
  color: #2b343b;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.ehtiyyat_hisseleri,
.zemanet {
  display: flex;
}

/******************************************************************************************/
.container_3 .swiper {
  width: 100%;
  height: 50rem;
  padding: 4rem 0;
}
.container_3 .swiper .swiper-wrapper {
  width: 30rem;
}
.container_3 {
  padding-top: 4rem;
  margin: 5%;
}
.container_3 h1 {
  margin: 2rem 10%;
  color: #2b343b;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 72.222% */
}

.container_3 .tipe {
  color: #fff;
  background: #153e5a;
  font-size: 1.5rem;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.container_3 .mySwiper_3 img {
  width: 100%;
  height: 85%;
  vertical-align: middle;
}
.container_3 .mySwiper_3 {
  overflow-x: clip;
  overflow-y: inherit;
}
.container_3 .swiper-button-prev  {
  top: -30px;
  left: 75%;
  border: 1px solid #0071BB;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  
}.container_3 .swiper-button-prev:after{
  font-size: 18px;
  
}
 
.container_3 .swiper-button-next {
  top: -30px;
  left: 79%;
  border: 1px solid #0071BB;
  border-radius: 50%;
  width: 41px;
  height: 41px;
}
 
.container_3 .swiper-button-next:after{
  font-size: 18px;
  
}

/******************************************************************************************/
.container_4 {
  background-image: url("/media/17582.png");
  display: flex;
  width: 80%;
  margin: 10%;
  gap: 2rem;
}

.container_4 .img1 {
  width: 32rem;
  height: 37rem;
  z-index: 1;
}
.container_4 h1 {
  color: #2b343b;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 72.222% */
}
.container_4 h2 {
  color: #282828;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: 32px;
}

.container_4 .img2 {
  position: absolute;
  width: 27rem;
  height: 32rem;
  top: 50%;
  left: 25%;
  z-index: 2;
}
.container_4 .info_4 {
  margin-left: 10%;
}
.container_4 .info_4 .header {
  display: flex;
  justify-content: space-between;
}
.container_4 .text {
  display: none;
  color: #707070;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.container_4 .add {
  border: none;
}
.container_4 .box button:active + .header {
  color: blue;
}
.container_4 .box button {
  color: #282828;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  background-color: white;
  margin-left: 2rem;
}

.container_4 .box {
  border-radius: 8px;
  border: 1px solid #dadfe2;
  background: #fff;
  padding: 2rem;
  margin: 2rem;
}
@media (max-width:1020px) {
  .container_4 {
    display: block;
  }
  .container_4 .images { 
    position: static;
    width: 80% !important;
    display: flex;
    justify-content: center;
    gap:3rem;
    margin: 2rem auto !important; 


  }

  .container_4 .img2, .img1{
    width: 40% !important;
    height: 30rem !important;
  }
  .container_4 .img2 {
    position: static; 
    top: 0;
    left: 50%;
    z-index: 2;
  }
}
@media (max-width:720px) {
  .container_4 .img2{
    display: none;
  }
  .container_4 .img1{
    width: max-content !important;
  }
  
}


/* .container_4 .text.show_text {
  display: block;
} */
.container_4 .images {
  background-image: url("/media/Group.png");
  background-repeat: no-repeat;
  width: 30%;
  position: relative;
}

/*************************************************************************/
.feedback {
  width:100%;
 
  padding: 1rem 10%
  
}
.feedback .swiper-wrapper{
  padding-bottom: 50px;
  display: flex;
  
}
.feedback h1 {
  margin: 4rem;
  color: #2b343b;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 72.222% */
}
.feedback .swiper-pagination_4 {
  bottom: -5%;
}

/*********************************************************/
.container_5{
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(3, 51, 80,0.001),rgba(3, 51, 82, 0.5)),url("./media/image.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 80vh;
  align-items: center;
}
.container_5 .inform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%; 
  height: max-content; margin : 15% 0 ;
   
}
@media (max-width: 1200px) {
  .container_5 .inform {
    display: grid;
    grid-template-columns: 1fr  ;
  }
  .container_5{
    height: max-content;
  }
  
  
}
.container_5 .inform h1{
  
 font-weight: 500;
 font-size: 3.5rem;
 line-height: 2.5rem;
 align-items: center;
}
.container_5 .inform p{
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 2.6rem;
  padding: 2rem;
}
.container_5 .inform .input{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:2.5rem;
  font-size: 18px;
  background-color: #fff;
  border-radius: 3px ;
  
  
}

.container_5 .inform  input[type=text], select{
  
  border: none;
  border-bottom: 1px solid #979797;
  height: 3.2rem;
  padding: 0.5rem;
}
.container_5 .inform  input[type=text]:focus {
  background-color: rgb(34, 114, 180);
  color: #fff;
}
@media (max-width: 618px) {
  .container_5 .inform .input {
    display: grid;
    grid-template-columns: 1fr  ;
  }
  .container_5{
    height: 170vh;
  }
   
}
  
.container_5 #submit{
  background-color: #0071BB;
  color: #fff;
  border-radius:5px;
  width: 24rem;
  height: 5rem;
  border: none;
  font-size: 20px;
  margin:  3rem 0;
}
.container_5 #submit:hover{
  border: 1px solid #0071BB;
  color: #0071BB;
  background-color: #fff;
}
.container_5 .sifaris{
  background-color: #fff;
  background-image:  url("./media/251012.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 6rem 3.5rem;
  border-radius: 12px 0 0 12px ;
}

.container_5 .connection{
  background-color: #0071BB;
   background: linear-gradient(rgba(2, 69, 110, 0.889),rgba(2, 62, 119, 0.752)),url("./media/251012.png");
  color:#fff;
  padding: 4rem;
}
.container_5 .connection h1{
  font-size:3.5rem;
  margin: 2rem 3rem 3rem;
}
.container_5 .connection a {
  color: #fff;
  font-size: 1.8rem;
  line-height:2rem;
 
} 
.container_5 .connection a i {
  margin:0  1.5rem 0 0
}

.container_5 .connection .tel{
  font-size: 1.8rem;
  display: flex;
  margin: 5rem 0;
}
.container_5 .connection .tel_num{
  margin: -5px 1rem;

}

/*          --------------------------------                     */
footer{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
footer .footer_element {
  padding: 5rem 3rem;
  display: flex;
  justify-content:space-between; 
  gap:5rem;
}
footer .logo    {
  width: 20%;
  font-size: 14px;
  color: #777E83;

}
footer .logo  p{
  font-size: 1.8rem;
  margin: 2rem 0;
}
footer .logo .media{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:1.5rem;
  gap:2rem;
  margin-left: 2rem;
  
}
footer .logo .media i{

  width: 36px;
  height: 36px;
  color: #0071BB;
  border: 1px solid #0071BB;
  border-radius:50%;
  display: flex; 
justify-content: center;
align-items: center;
}
footer .logo .media i::before{
  display:flex;
 
}
footer .map .tags{
  display:grid;
  grid-template-columns: 1fr 1fr;;
}
footer .map .tags a{
  color:#2B343B;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin: 1rem ;
 
}
footer .content_1{
  display:flex;
  justify-content: space-around

}
footer .connections{
  display: flex;
}
footer .connections .location {
  display: flex;
  flex-direction:column;
}
footer .map .tags a img{

}
footer .map  h2 img{
  display:inline;
  color:#0071BB;
  width: 3px;
  height: 20px
}
footer .map h2{
  font-size:20px;
  line-height:26px;
}

footer .elaqe h2{
  font-size:20px;
  margin: 0 0 2rem 2rem;
}
footer .elaqe  i{
  margin: 0 1rem;
}
footer .elaqe .tel  {
  font-size: 1.5rem;
  display: flex;
  flex-direction:column;
  gap:1.5rem
}
footer .elaqe .tel  {
  margin: 1rem;
}
footer .location a{ 
  font-size:1.5rem;
  color:#2B343B;
  margin-top:1.5rem;
}
footer .location a i{ 
  margin:0 1rem;
}
footer .location {
  margin: 0 2.5rem;
}
.footer_info{
  height: 3rem;

  color:#979797;
  font-size:1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width:1020px) {
  footer .elaqe{
    display:block;
  }
 footer .footer_element{
  display:flex;
  flex-direction: column !important;
 }
 footer .footer_element .content_2{
  margin:auto
 }
  
}
@media (max-width:720px){
  footer .content_1{
    display:flex;
    flex-direction: column !important;
    gap:3rem; 
  }
  footer .logo , .map{
    width: 80%; 
    margin: auto;

  }
}


 




 