.content{
    background-image:url(/media/image\ 23.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    color:#fff;
    font-size: 3.6rem;
 
}
.content p a{
    padding-top:6rem;
    font-size: 1.em;
    color: #fff;
}
.content p{
    color: #fff;
    font-size: 1.5rem;
    padding-top:2rem;
}

.elaqe_page .tel {
    font-size: 1.8rem;
    display: flex;
    margin: 5rem 0;
    background-color: #fff;
    padding:4rem;
    width: 30rem;
    border-radius:8px;
}
.elaqe_page .location,.mail{
    background-color: #fff;
    width: 30rem;
    padding:2rem;
    margin: 1rem 0;
    border-radius: 8px;
}
.elaqe_page{
     width: 100%;
     display: flex;
     flex-direction:column;
     background-color: #8b85855e;
 
}

.elaqe_page .elaqeler{
    display: flex;
    width: 60%;
    justify-content: center;
    
    gap:1rem;  
}
.locANDemail {
    align-items: center;
    margin: 5rem;
}
.locANDemail  i{
    color:blue;
 margin: 1rem;
}
.locANDemail a  {
    color:black;
   
}
.elaqe_page .service {
 width: 100%;
display: flex;
flex-direction: column;
align-items: center;
gap:2rem;
}
.elaqe_page .service iframe{
    width: 80%;
    margin:3rem;
}

.elaqe_page .elaqeler{
    width: 100%;
}