.content{
    background-image:url(/media/image\ 23.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    color:#fff;
    font-size: 3.6rem;
 
}
.content p a{
    padding-top:6rem;
    font-size: 1.em;
    color: #fff;
}
.content p{
    color: #fff;
    font-size: 1.5rem;
    padding-top:2rem;
}

.kondisioner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F8F9FA;
    margin: 10%;
    gap:3rem;

}
@media (max-width:720px) {
    .kondisioner{
        display: grid;
        grid-template-columns: 1fr;
    
    }
    
}
.kondisioner .box_1
{
    background-color: #FAFBFC;
    padding: 1rem;
}
.zemanetli_temir {
    display:flex; 
    gap:1rem
}

.zemanetli_temir .property h3{
    margin: 2rem;
}
.kondisioner .box_1 p{
    color: #565656;
    font-size: 1.6rem;
    padding: 2rem;
}
.kondisioner .box_1 h3{
    color: #2B343B;
    font-size: 2rem;
}
.temir_elaqe{
         background-color: #0071BB; 
         width: 60%;
        color: #fff;
        padding: 4rem;
}

.temir_elaqe a{
    color: #fff;
    font-size: 1.8rem;
    line-height: 2rem;
 
}
.temir_elaqe h1{
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 2.5rem; 
    padding: 1.5rem;
}
.temir_elaqe .tel{
    font-size: 1.8rem;
    display: flex;
    margin: 5rem 0;
}
.temir_media{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem;
}
 
.temir_media i {
    width: 36px;
    height: 36px;
    color: #0071BB;
    border: 1px solid #0071BB;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_2   ul li{
    font-size:1.6rem;
    padding: 1rem;
    border: 1px solid #DEE0E5;
    width: 40%;
}