.content{
    background-image:url(/media/image\ 23.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    color:#fff;
    font-size: 3.6rem;
 
}
.content p a{
    padding-top:6rem;
    font-size: 1.em;
    color: #fff;
}
.content p{
    color: #fff;
    font-size: 1.5rem;
    padding-top:2rem;
}


.temir_page::before{
  background: url(/media/Temir/Frame\ \(1\).png);
  position: absolute;
  content: '';
  width: 192px;
  height: 138px;
  margin: 8rem;
  z-index: -5;
  margin: 6%;
    

}
.temir_page::after{
  background: url(/media/Temir/Frame\ \(1\).png);
  position: absolute;
  content: '';
  width: 192px;
  height: 138px;
  margin: 8rem;
  z-index: -5;
  margin: 6%;
    

}


.temir_page .elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    padding-top:  10%;

  }
.temir_page .element_box{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    margin-bottom: 2rem;
}
  .temir_page .element {
    background-image: url(/media/Temir/Group.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 30rem;
    width: 25rem;
    padding-top: 1rem;
    background-color: #90bedc69;
    display: block;
    text-align: center;
    z-index: 1;
  }
  .temir_page .element  h3{
    padding: 2rem;
  }
  .temir_page .element img {
    display: block;
    margin: 0 auto;
  }
  .temir_page .element button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5rem;
    border-radius: 5rem 5rem 0 0;
    position: absolute;
    border: none;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    background: linear-gradient(to right, #0071bb 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  .temir_page .element button:hover {
  
    background-position: left bottom;
   }
  .temir_page .element button i {
    color: #0071bb;
  }
  
  
  .temir_page .element button:hover i {
    color: #fff;
  }
 
 